* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:  #3937fa !important;
  }
  
 .weather-container {
    padding: 10px;
    @media screen and (min-width: 768px) {
      padding: 55px;
    }
  }

  #input-box {
      background-color: #3937fa !important;
      text-align: center;
      border: none;
      font-size: 18px !important;
      @media screen and (min-width: 768px) {
        font-size: 50px !important;
      }
    }

  #weather-info {
    margin-bottom: 58px;
    font-size: 28px;
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 66px;
    }
  }
  
  #weather-image {
    width: 250px;
  }
  
  
  #content {
    font-size: 20px;
    text-align: center;
    margin: auto;
    @media screen and (min-width: 768px) {
      width:560px
    }
    @media screen and (min-width: 1024px) {
      font-size: 29px;
    }
  }

  
  .condition-temp {
    @media screen and (min-width: 1024px) {
      font-size: 55px;
    }
  }

    
  .condition-feels {
    color: #5b7cc3;
  }